<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur quam pariatur iste at blanditiis debitis saepe libero facilis neque unde?</p>
    </div>
</section>
