<div class="jumbotron mt-4">
        <h1 class="display-4">Notes App NOdejs and Mongodb</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore autem pariatur sequi, possimus tempore a consectetur maiores, iusto natus perspiciatis assumenda atque laboriosam aperiam, rerum deleniti dolores cumque magnam magni!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos veniam cumque sint, laborum quas nemo assumenda nisi excepturi deserunt.</p>
        <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>